.bg-grey {
  background-color: #ddd;
}

.hidden {
  visibility: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 14px;
}

nav,
.book-wrapper {
  justify-content: space-between;
}

nav,
footer,
.books {
  border: 0.2rem solid black;
}

nav,
footer {
  padding: 0px 1.5%;
}

.nav-left,
.copyright {
  font-weight: bold;
}

nav,
main,
.book-wrapper,
.add-new,
.add-btn,
.list,
.contact {
  display: flex;
}

main,
.list,
.contact {
  align-items: center;
  flex-direction: column;
}

main {
  margin: 2% auto 0 auto;
  justify-content: center;
}

.list {
  width: 100%;
}

.books {
  width: 98%;
  margin: 1rem;
}

.book-wrapper {
  padding: 10px 15px;
}

.add-new {
  flex-direction: column;
}

.input-title,
.input-author {
  margin-bottom: 0.5rem;
}

.add-btn {
  justify-content: flex-end;
}

.copyright {
  padding: 15px 0;
}